.home-container {
  background-color: #f4f6f9;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  
  text-align: center;
  padding: 20px 40px 20px;  
}

.tagline, .title {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.tagline {
  animation-delay: 0.5s;
}

.title {
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.tagline {
  font-size: 1.8rem;
  font-weight: 400;
  color: #333; 
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}


.current-events {
  width: 100%;
  margin-top: 30px;
}

h4 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.event-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.event-card {
  background-color: #ffffff; 
  border: 1px solid #ddd; 
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #333;
}

.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-card h4 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.event-card p {
  font-size: 1rem;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.4rem;
  }

  .event-card {
    width: 220px;
    padding: 15px;
  }

  .cta-button {
    font-size: 1.1rem;
  }
}
