@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



body {
  margin: 0;
  padding: 0;
  background-color: #e7d3db;
  font-family: 'Inter', sans-serif;
}

/* Layout */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bd8f9a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 2rem;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #bd8f9a;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
}

.brand {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: transform 0.3s ease, color 0.3s ease;
  margin-left: 20px;
}

.brand:hover {
  transform: scale(1.05);
  color: #fff2f2;
}

nav {
  display: flex;
  gap: 1.5rem;
}

.nav-button {
  color: white;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  border-radius: 50%;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
}

.nav-button:hover {
  border-color: #ddbdcd;
  transform: scale(1.05);
}

/* Responsive Navbar */
@media (max-width: 1024px) {
  .navbar {
    gap: 1rem;
  }

  .nav-button {
    font-size: 1.25rem;
    padding: 0.75rem;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .navbar-container {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .navbar {
    gap: 1rem;
    padding: 0;
    flex-direction: row;
  }

  .brand {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .nav-button {
    font-size: 1.25rem;
    padding: 0.75rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .brand {
    font-size: 1.8rem;
  }

  .nav-button {
    font-size: 1.1rem;
    padding: 0.5rem;
  }
}