@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0 px;
    padding: 0 px;
    background-color: #e7d3db;
    font-family: 'Inter', sans-serif;
}

/* layout */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px 0;

}

.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
  display:flex; 
  justify-content: center;
  align-items: center;
  width: 25rem;
  padding: 5px;
  background-color: #bd8f9a;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 40px;
  margin-right: 13rem;
}

.brand {
  font-size: 2.50rem;
  font-weight: bold;
  color: #bd8f9a;
  transition: transform 0.2s ease;
  margin-left: 1rem;
}

.brand:hover {
  transform: scale(1.05);
}

nav {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(107, 103, 103, 0.2);
  transform: translateY(-2px);
}